[core]

	excludesfile = ~/.dotfiles/git/.gitignore

	# Make `git rebase` safer on macOS (http://www.git-tower.com/blog/make-git-rebase-safe-on-osx)
	trustctime = false

	# Prevent showing files whose names contain non-ASCII symbols as unversioned (http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html)
	precomposeunicode = false

	# Speed up commands involving untracked files (https://git-scm.com/docs/git-update-index#_untracked_cache)
	untrackedCache = true

[user]
	name = Steffen Kötte
	email = steffen.koette@gmail.com

[includeIf "gitdir:SAPDevelop/"]
	path = ~/.dotfiles/git/.gitconfig_work

[diff]

	# Detect copies as well as renames
	renames = copies

	# Show whitespace errors in diff
	wsErrorHighlight = all

[help]

	# Automatically correct and execute mistyped commands with 1 second delay
	autocorrect = 10

[merge]

	# Include summaries of merged commits in newly created merge commit messages
	log = true

[credential]

	helper = osxkeychain

[advice]

	# Remove tips how to stage / unstange / discard changes in git status output
	statusHints = off
