[core]

	excludesfile = ~/.dotfiles/git/.gitignore

	# Make `git rebase` safer on macOS (http://www.git-tower.com/blog/make-git-rebase-safe-on-osx)
	trustctime = false

	# Prevent showing files whose names contain non-ASCII symbols as unversioned (http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html)
	precomposeunicode = false

	# Speed up commands involving untracked files (https://git-scm.com/docs/git-update-index#_untracked_cache)
	untrackedCache = true

[init]

	defaultBranch = main

[user]

	name = Steffen Kötte
	email = steffen.koette@gmail.com

[includeIf "gitdir:SAPDevelop/"]
	path = ~/.dotfiles/git/.gitconfig_work

[diff]

	# Detect copies as well as renames
	renames = copies

	# Show whitespace errors in diff
	wsErrorHighlight = all

[help]

	# Automatically correct and execute mistyped commands with 1 second delay
	autocorrect = 10

[merge]

	# Include summaries of merged commits in newly created merge commit messages
	log = true

[mergetool]

	# Do not keep backups of the merge tool input files
	keepBackup = false

[rebase]

	# Automatically stash and unstash your local changes
	autoStash = true

[fetch]

	# Automatically prune with every fetch (and pull)
	prune = true

[pull]

	# Rebase instead of merge
	rebase = true

[push]

    # automatically create/set upstream branch for new branches when pushing
    autoSetupRemote = true

[credential]

	helper = osxkeychain

[advice]

	# Remove tips how to stage / unstange / discard changes in git status output
	statusHints = off

[filter "lfs"]

	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[alias]

    last = log -1 HEAD
    remotes = remote -v
    branches = branch -vv --all
